# misc
.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore node_modules directory
node_modules/

# Ignore environment-specific files
.env

# Ignore build artifacts
/dist/
/build/

# Ignore log files
*.log

# Ignore editor/IDE files
.vscode/
.idea/

# Ignore macOS system files
.DS_Store
